*
{
margin: 0px;
padding: 0px;
}
body
{
color: #000;
background: #fff;
font: 13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
}
a
{
text-decoration: underline;
}
a:hover
{
text-decoration: none;
}
#wrap
{
margin: 15px auto;
padding: 0;
width: 640px;
position: relative;
}

#slideshow
{
background:#FFFFFF;
background-color: #FFFFFF
border: 1px solid #fff;
height: 320px;
margin: 10px auto;
position: relative;
width: 475px;	
-moz-box-shadow: 0px 0px 22px #fff;
-webkit-box-shadow: 0px 0px 22px #fff;
box-shadow: 0px 0px 22px #fff;
}
#slideshow ul
{
	height: 300px;
	left: -15px;
	list-style: none outside none;
	overflow: hidden;
	position: absolute;
	top: 8px;
	width: 459px;
}
#slideshow li
{
position: absolute;
display: none;
z-index: 10;
}
#slideshow li:first-child
{
display: block;
z-index: 1000;
}
#slideshow .slideActive
{
z-index:1000;
}
#slideshow canvas
{
display: none;
position: absolute;
z-index: 100;
}
#slideshow .arrow
{
height: 86px;
width: 60px;
position: absolute;
background: url('../images/arrows.png') no-repeat;
top: 50%;
margin-top: -43px;
cursor: pointer;
z-index: 5000;
}
#slideshow .previous
{
background-position: left top;
left: 0;
}
#slideshow .previous:hover
{
background-position:left bottom;
}
#slideshow .next
{
background-position:right top;
right:0;
}
#slideshow .next:hover
{
background-position:right bottom;
}
#credit
{
clear:both;
width:600px;
margin:5px auto;
padding:0;
}
#credit p
{
margin:0;
padding:0;
color:#ccc;
font-size:10px;
font-family:arial;
}
#credit p a, #credit p a:hover
{
text-decoration:none;
color:#ccc;
}
p .bold {
	font-weight: bold;
}
#mainc fieldset table tr .bold {
	text-align: center;
}
#mainc fieldset table tr .bold {
	font-weight: bold;
}
#mainc fieldset table tr .bold {
	font-weight: normal;
	text-align: left;
	font-size: 16px;
}
#mainc fieldset table tr .bold br {
	font-size: 13px;
}
